@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.form-header {
  h2 {
    font-family: "Playfair Display", serif;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    color: #0d0321;
  }
}

.signup-form {
  position: relative;
  font-family: SFUIDisplay;
  color: #0d0321;
  font-size: 18px;
  input {
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-color: rgba(#979797, 0.25);
    height: 36px;
    padding-left: 0;
    &:focus {
      box-shadow: none;
      border-bottom-color: rgba(#8ae38c, 1);
    }
  }
  .input-wrapper {
    position: relative;
    width: 100%;
    transition: all 0.4s linear 0s;
    &:before {
      content: "";
      position: absolute;
      left: -22px;
      top: 0;
      height: 90%;
      width: 4px;
      background-color: #e4e4e4;
      border-radius: 2px;
      transition: all 0.4s linear 0s;
    }
    select {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-radius: 0;
      max-width: 80px;
      font-size: 18px;
      color: rgba(#0d0321, 0.35);
      font-family: SFUIDisplay;
      padding: 0;
      option {
        display: inline-block;
        position: relative;
        background: #fff;
        border: 0;
        font-size: 18px;
        line-height: 36px;
        padding: 10px;
        text-align: center;
        color: #0d0321;
        font-family: SFUIDisplay;
      }
      &:focus {
        box-shadow: none;
        border-bottom-color: rgba(#8ae38c, 1);
      }
    }
    label {
      position: absolute;
      transition: all 0.4s linear 0s;
      font-size: 18px;
      color: rgba(#0d0321, 0.35);
      font-family: SFUIDisplay;
      margin-bottom: 0;
    }
  }
  .input-wrapper:focus-within {
    &:before {
      background-color: #8ae38c;
    }
    label {
      top: -10px;
      transition: all 0.4s linear 0s;
      font-size: 10px;
    }
  }
  button[type="submit"] {
    display: block;
    width: 100%;
    background-color: #8ae38c;
    border: 0;
    height: 50px;
    font-family: SFDisplayB;
    font-size: 14px;
    text-transform: uppercase;
    color: #0d0321;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 50px;
    border-radius: 5px;
  }
}

.custom-select {
  select {
    display: none;
  }
}

.select-wrapper,
.select-wrapper:focus-within {
  .css-yk16xz-control {
    border: 0;
  }
}

.select-wrapper {
  position: relative;
  font-family: SFDisplayB;
  font-size: 14px;
  color: #0d0321;
  font-weight: 500;
  .css-1okebmr-indicatorSeparator {
    width: 4px;
    position: absolute;
    z-index: 8;
    height: 36px;
    left: -22px;
    border-radius: 2px;
    background-color: #e4e4e4;
  }
  .css-g1d714-ValueContainer {
    border-bottom: 1px solid rgba(#979797, 0.25);
    padding: 0;
  }
  .css-2b097c-container {
    margin-right: 20px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 80%;
      height: 1px;
      background-color: rgba(#979797, 0.25);
      z-index: 2;
      transition: all 0.4s linear 0s;
    }
  }
  &:last-child {
    .css-2b097c-container {
      margin-right: 0;
    }
  }
  .css-tlfecz-indicatorContainer {
    padding-left: 0;
    padding-right: 15px;
  }
}
.select-wrapper:focus-within {
  .css-1okebmr-indicatorSeparator {
    background-color: #8ae38c;
  }
  .css-2b097c-container {
    &:before {
      background-color: #8ae38c;
      transition: all 0.4s linear 0s;
    }
  }
}

.help-text {
  p {
    margin-bottom: 0;
    color: #a19bac;
    font-size: 14px;
    font-family: SFDisplayB;
    font-weight: 500;
  }
  a {
    color: #0d0321;
    font-size: 14px;
    transition: all 0.4s linear 0s;
    &:hover {
      text-decoration: none;
      color: #8ae38c;
    }
  }
}

.page-footer {
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
    color: #a19bac;
    font-size: 14px;
    font-family: SFDisplayB;
    font-weight: 500;
  }
}
